# Executables
*.exe


# Slice Manual
SliceManual*.pdf


# ROM Files
*.bin


# RAW files
*.raw


# Test Failure PNGs
*F.png


# Editor files
*.sublime-project
*.sublime-workspace


# macOS litter
.DS_Store
._*
